to test if needs disposing. idk yet but it doesn't show up so.
<button type="button" (click)="showFirst = !showFirst">
  shown: {{showFirst}}
</button>
<h1>Rendering a template and adding it onto the header: show: {{showFirst}}</h1>
* works with formcontrol as long as it is set inside the template ng-template somehow
<app-adding-a-template-on-header *ngIf="showFirst"></app-adding-a-template-on-header>
<h1>Rendering a component and adding it on top of the header</h1>
* haven't made form control work yet.
<app-adding-a-component-on-header *ngIf="showFirst"></app-adding-a-component-on-header>